<p>
  <button class="button arrow">{{ hero-text }}</button> <button class="button arrow secondary">Secondary: {{ hero-text }}</button>
</p>

<p class="bg-orange padding-2">
  <button class="button white arrow">{{ hero-text }}</button> <button class="button white arrow secondary">Secondary: {{ hero-text }}</button>
</p>

<p class="bg-primary-black padding-2">
  <button class="button hollow arrow">{{ hero-text }}</button> <button class="button hollow arrow secondary">Secondary: {{ hero-text }}</button>
</p>

